body {
    background-color: #000;
    .main-wrapper {
        margin: 0 auto;
        width: 960px;
        text-align: center;
        .main-image {
            margin: 50px 0;
            width: 35%;
            border: 10px solid #fff;
            @include inline-block;
        }
    }
}