/*
Document   : _mixins
Created on : Sep 26, 2012, 11:40:18 PM
Author     : trimmedon
Description:
Purpose of the stylesheet follows.
*/
$sprites-layout: smart;
$sprites-spacing: 2px;
@import "sprites/*.png";

@mixin sprites($name){
    height: sprites-sprite-height($name);
    width: sprites-sprite-width($name);	
    @include sprites-sprite($name);
}

@mixin button() {
    border: 1px solid darken($button-background, 10%);
    padding: 10px 30px 7px;
    font-size: 16px;
    font-family: aboree;
    line-height: 1.2em;
    color: #FFFFFF;
    cursor: pointer;
    @include text-shadow(0 -1px 0 darken($button-background, 100%));
    background-color: $button-background;
    @include background-image(linear-gradient(to bottom right, lighten($button-background, 12%), $button-background));
    @include border-radius(0 10px 0 0);
    
    &:hover {
        background-color: lighten($button-background, 12%);
        @include box-shadow(0 0 5px $button-background);
        @include background-image(linear-gradient(to bottom right, lighten($button-background, 12%), $button-background));
    }
}

@mixin reset-button() {
    background: none;
    border: none;
    font-size: 18px;
    margin-right: 15px;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

@mixin input-field() {
    border: 1px solid rgba(2, 16, 5, 0.7);
    line-height: 1.2em;
    font-size: 16px;
    padding: 10px;
    width: 200px;
    color: #111111;
    font-family: aboree;
    display: block;
    margin-right: 10px;
    @include transition(all .3s);
    @include box-shadow(inset rgba($main-background-color, 0.7) 0 0 3px);
    &:focus {
        border: 1px solid rgba(2, 16, 5, 0.5);
        @include box-shadow(inset rgba($main-background-color, 0.5) 0 0 3px);
    }
}

/* How to use no-padding mixin
    @include no-padding("left");
    @include no-padding("right");
    @include no-padding("top");
    @include no-padding("bottom");
    @include no-padding("all");

    .no-padding-left
    .no-padding-right
    .no-padding-bottom
    .no-padding-top
    .no-padding - to remove padding from all sides
*/

@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@mixin no-margin($side) {
    @if $side == 'all' {
        .no-margin {
            margin: 0 !important;
        }
    } @else {
        .no-margin-#{$side} {
            margin-#{$side}: 0 !important;
        }
    }
}